.bmad-core/
.bmad-creator-tools/
.bmad-infrastructure-devops/
.claude/
.cursor/
.gemini/
docs/architecture/
docs/concept/
docs/prd/
docs/stories/
docs/image/
web-bundles/
.env
.vscode/
logs
client/.next/
node_modules/
client/config.js
client/old.config.js
server/config.js
server/old.config.js
production-server
.idea/
dump.rdb
docs/api/static
**/.DS_Store
db/*
!db/.gitkeep
